services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  translator:
    build: .
    container_name: translator
    ports:
      - "8501:8501"
    env_file:
      - .env
    depends_on:
      - ollama

volumes:
  ollama_data: